@import "tailwindcss";

:root {
  --background: #FAFAF9;
  --foreground: #000000;
}

@theme {
  --font-main: 'MainFont';
  --color-primary-font: black;
  --color-secondary-font: #858585;
  --color-primary: #fbc564;
  --color-secondary: #F97316;
  --color-hover: #EA580C;
  --padding-x-medium: 8rem;
  --padding-x-large: 12rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



@font-face {
  font-family: 'MainFont';
  src: url('../public/fonts/mainFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  @apply scroll-smooth;
}

.inline-font {
      font-feature-settings: "case";
  }

body {
  @apply bg-[var(--background)];
  font-family: 'MainFont', sans-serif;
  color: var(--color-primary-font);
}

.h1, h1 {
  @apply text-lg md:text-2xl xl:text-4xl leading-tight md:text-3xl;
}

.h2,h2 {
  @apply text-lg font-bold md:text-2xl;
}

.h3, h3 {
  @apply text-sm md:text-base;
}

.h4, h4 {
  @apply text-base;
}

.a, a {
  @apply !no-underline;
}

.p, p {
  @apply text-xs md:text-base m-0 p-0;
}

@layer utilities {


  
  /* animations */

@keyframes pulse-scale {
    0% {
      transform: scale(1);
      /* Start at normal size */
    }

    50% {
      transform: scale(1.06);
      /* Scale up halfway through */
    }

    100% {
      transform: scale(1);
      /* Return to normal size */
    }
  }
@keyframes hover {
  0% {
    transform: translateY(0);
  }


  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
}

@layer components {

  header{

    @apply flex justify-between items-center px-4 lg:px-12 min-h-20 bg-none !fixed z-99999999 w-full;
  }

  .header-action, .header-prices{
    @apply min-w-25;
  }

    .header-action,.header-prices{
      @apply border-2 px-6 py-3 rounded-3xl font-bold shadow-[0_3px_0_0_#000] transition-all duration-200 hidden md:flex;
    }
    .header-action{
      @apply bg-[var(--color-secondary)] hover:bg-[var(--color-hover)];
    }
    
    .header-prices{
      @apply bg-white;
    }
    
    .header-action:hover, .header-prices:hover{
      @apply font-bold shadow-none;
    }

  .header-links{
    @apply flex gap-4;  
  }

  header i{
    @apply text-black text-3xl flex md:hidden;
  }

  header img {
    @apply w-35 z-999999;
  }
  
  .landing-banner-section{
    @apply grid grid-rows-[100vh_25vh_25vh_25vh_35vh] md:grid-rows-[100vh_30vh_40vh] lg:grid-rows-[100vh_25vh_50vh] xl:grid-rows-[100vh_35vh_80vh] grid-cols-1 md:grid-cols-3;
  }
  .landing-banner-section article{
    @apply border-b-4 border-black;
  }
  
  .landing-row-1{
    @apply row-start-1 row-end-2 col-span-2 md:col-span-3 flex flex-col justify-start gap-4 items-center overflow-hidden bg-cover bg-no-repeat bg-center pt-65 md:pt-0 md:justify-center;
    background-image: url('/bg.png'), linear-gradient(to bottom, transparent, #FBC564);
    background-position: 50% 10%, center;
    background-size: cover, cover;
  }

  .cloud{
    @apply absolute w-40 md:w-65 lg:w-80 xl:w-110 opacity-80;
  }
  .cloud1{
    @apply top-20 lg:top-10 left-2 lg:left-10;
  }
  .cloud2{
    @apply top-20 lg:top-10 right-2 lg:right-10;
  }
  .cloud3{
    @apply top-45 lg:top-30;
  }
  
  .landing-text{
    @apply flex flex-col justify-center items-center gap-4 bg-[#fbeccb] border-3 rounded-4xl p-8 shadow-[0_4px_0_0_#000] w-95/100 md:w-2/3 xl:w-1/2 relative z-1;
  }
  .landing-row-1 h1{
    @apply flex justify-center items-center text-center overflow-hidden z-1 font-bold;
  }
  .landing-row-1 p{
    @apply flex justify-center items-center text-center;
  }

  .action-button {
    @apply text-black font-bold !text-base lg:!text-xl border-2 py-3 text-center lg:py-4 min-w-65 md:min-w-100 lg:px-12 rounded-4xl bg-[var(--color-secondary)] hover:bg-[var(--color-hover)] shadow-[0px_4px_0_0_#000] transition-all duration-200;
    animation: pulse-scale 3s ease-in-out infinite;
  }

  .superman, .supergirl{
    @apply absolute w-45
     md:w-70 lg:w-100 xl:w-110 top-20 md:top-20 z-10;
    }

  .superman{
    @apply left-1 md:left-25;
    animation: hover 3.5s ease-in-out infinite;
  }
  .supergirl{
    @apply right-1 md:right-25;
    animation: hover 2.5s ease-in-out infinite;
  }
  
  
  .steps{
      @apply flex flex-col items-start justify-center pl-2 lg:pl-12 ;
    }
    .step-1{
      @apply row-start-2 col-span-1 border-r-4;
      background-image: url("/upload.jpg");
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .step-2{
      @apply row-start-3 md:row-start-2 col-span-1 border-r-4;
      background-image: url("/draw.jpg");
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .step-3{
      @apply row-start-4 md:row-start-2 col-span-1;
      background-image: url("/finished.jpg");
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .steps h3{
      @apply text-center w-55 h-30 md:w-45 md:h-25 lg:h-30 lg:w-55 flex items-center justify-center p-12 md:p-10;
      background-image: url("/text-box.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .landing-buttons{
      @apply flex justify-center items-center
    }
    
  }

  .landing-couples-books{
    @apply flex flex-col w-full items-center gap-10 relative row-start-5 md:row-start-3 col-span-1 md:col-span-3 bg-[url(/background2.jpeg)];
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: left center;
  }

  
  .landing-couples-text{
    @apply z-1 pt-6 w-60 md:w-150 text-center;
  }
  
  .landing-couples-books-inner{
    @apply flex flex-row justify-around items-center w-full px-12 -mt-10 z-1 relative;
  }

    .landing-couple{
      transform: rotate(-8deg)
    }

    .landing-books{
      @apply flex flex-row;
      transform: rotate(8deg);
    }
    .landing-book{
      @apply w-40 md:w-85 absolute -left-12 top-1 md:-left-30 md:top-4 lg:w-100 2xl:w-120 xl:top-50 object-cover z-1 !max-w-none;
    }
    .landing-couple{
      @apply w-55 md:w-120 -left-15 top-8 md:-left-30 md:top-10 lg:top-15 xl:w-140 xl:top-65 2xl:w-180 absolute object-cover z-1;
    }

    .arrow-png{
      @apply hidden xl:flex absolute top-15 w-80 xl:top-60 xl:w-100 2xl:w-120 xl:top-50 object-contain;
    }


    .prices-article{
      @apply row-start-6 px-2 py-4 select-none md:col-span-3 xl:flex xl:flex-col xl:items-center xl:justify-center;
    }

    .prices-article .flex > div:last-child .price-card{
      @apply border-r-2;
    }

