@import "tailwindcss";

:root {
  --background: #FAFAF9;
  --foreground: #000000;
}

@theme {
  --font-main: 'MainFont';
  --color-primary-font: black;
  --color-secondary-font: #858585;
  --color-primary: #fbc564;
  --color-secondary: #F97316;
  --color-hover: #EA580C;
  --padding-x-medium: 8rem;
  --padding-x-large: 12rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



@font-face {
  font-family: 'MainFont';
  src: url('../public/fonts/mainFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  @apply scroll-smooth;
}

.inline-font {
      font-feature-settings: "case";
  }

body {
  @apply bg-[var(--background)];
  font-family: 'MainFont', sans-serif;
  color: var(--color-primary-font);
}

.h1, h1 {
  @apply text-xl md:text-2xl xl:text-4xl leading-tight md:text-3xl;
}

.h2,h2 {
  @apply text-lg font-bold md:text-2xl;
}

.h3, h3 {
  @apply text-sm md:text-base;
}

.h4, h4 {
  @apply text-base;
}

.a, a {
  @apply !no-underline;
}

.p, p {
  @apply text-xs md:text-base m-0 p-0;
}


@layer utilities {


  
  /* animations */

@keyframes pulse-scale {
    0% {
      transform: scale(1);
      /* Start at normal size */
    }

    50% {
      transform: scale(1.06);
      /* Scale up halfway through */
    }

    100% {
      transform: scale(1);
      /* Return to normal size */
    }
  }
@keyframes hover {
  0% {
    transform: translateY(0);
  }


  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
}

@layer components {

  header{
    @apply flex flex-col justify-center px-4 lg:px-12 min-h-20 bg-none !fixed z-99999999 w-full relative;
    box-shadow: 0 6px 6px #00000033, 0 0 20px #0000001a;
    transition: all 0.4s cubic-bezier (0.175,0.885,0.32,2.2);
  }


  .effect{
    @apply absolute z-0 inset-0;
    backdrop-filter: blur(12px);
    filter: url(#glass-distortion);
    overflow: hidden;
  }

  .tint{
    @apply z-1 absolute inset-0 bg-[#ffffff80];
  }

  .shine{
    @apply absolute inset-0 z-2;
    overflow: hidden;
    box-shadow: 2px 2px 1px 0 #ffffff80, -1px -1px 1px 1px #ffffff80;
  }

  .header-content{
    @apply z-3;
  }

  .dock{
    @apply flex justify-between items-center;
  }
  .dock i{
    @apply z-3;
  }

  .header-logo{
    @apply z-3;
  }

  .header-action, .header-prices{
    @apply min-w-25 z-3;
  }

    .header-action,.header-prices{
      @apply border-2 px-6 py-3 rounded-3xl font-bold shadow-[0_3px_0_0_#000] transition-all duration-200 hidden md:flex;
    }
    .header-action{
      @apply bg-[var(--color-secondary)] hover:bg-[var(--color-hover)];
    }
    
    .header-prices{
      @apply bg-white;
    }
    
    .header-action:hover, .header-prices:hover{
      @apply font-bold shadow-none;
    }

  .header-links{
    @apply flex gap-4;  
  }

  header i{
    @apply text-black text-3xl flex md:hidden;
  }

  header img {
    @apply w-35 z-999999;
  }
  
  .landing-banner-section{
    @apply grid grid-rows-[100vh_200vh_35vh] md:grid-rows-[100vh_30vh_40vh] lg:grid-rows-[75rem_25vh_50vh] xl:grid-rows-[120vh_35vh_80vh] grid-cols-1 md:grid-cols-3;
  }
  /* .landing-banner-section article{
    @apply border-b-4 border-black;
  } */
  
  .landing-row-1{
    @apply row-start-1 row-end-2 col-span-2 md:col-span-3 flex flex-col justify-start gap-4 items-center overflow-hidden bg-contain bg-no-repeat bg-center pt-65 md:pt-0 md:justify-center;
    background-image: url('/bg.png'), linear-gradient(to bottom, transparent, #FBC564);
    background-position: bottom center;
    background-size: cover, cover;
  }

  .cloud{
    @apply absolute w-40 md:w-65 lg:w-80 xl:w-110 opacity-80;
  }
  .cloud1{
    @apply top-20 lg:top-20 left-2 lg:left-10;
  }
  .cloud2{
    @apply top-20 lg:top-20 right-2 lg:right-10;
  }
  .cloud3{
    @apply top-45 lg:top-50;
  }
  
  .landing-text{
    @apply flex flex-col justify-center items-center gap-4 bg-[#fbeccb] border-3 rounded-4xl p-8 shadow-[0_4px_0_0_#000] w-95/100 md:w-2/3 xl:w-1/2 relative z-1;
  }
  .landing-row-1 h1{
    @apply flex justify-center items-center text-center overflow-hidden z-1 font-bold text-nowrap;
  }
  .landing-row-1 p{
    @apply flex justify-center items-center text-center;
  }

  .action-button {
    @apply text-black font-bold !text-base lg:!text-xl border-2 py-3 text-center lg:py-4 min-w-65 md:min-w-100 lg:px-12 rounded-4xl bg-[var(--color-secondary)] hover:bg-[var(--color-hover)] shadow-[0px_4px_0_0_#000] transition-all duration-200;
    animation: pulse-scale 3s ease-in-out infinite;
  }
  
  .superman, .supergirl{
    @apply absolute w-45
    md:w-70 lg:w-100 xl:w-110 top-20 md:top-20 z-10;
  }

  .superman{
    @apply left-1 md:left-25;
    animation: hover 3.5s ease-in-out infinite;
  }
  .supergirl{
    @apply right-1 md:right-25;
    animation: hover 2.5s ease-in-out infinite;
  }
  
  .steps{
    @apply row-start-2 -mt-8;
  }

  .steps-text-div{
    @apply flex flex-col;
  }

  .steps-text-div h3 {
  @apply text-center w-55 h-45 md:w-45 md:h-25 lg:h-30 lg:w-55 flex items-start mt-2 pt-16 pl-4 justify-center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .steps-text-div p {
  @apply flex items-center justify-center w-55 h-25 !-mt-4 z-1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  
  /* .steps h3{
    @apply text-center w-90 h-45 md:w-45 md:h-25 lg:h-30 lg:w-55 flex items-start mt-2 pt-16 pl-4 justify-center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  } */
  .step-1 h3{
    background-image: url("/text-box.png");
  }
  .step-1 p{
    @apply h-35 w-65 !-ml-8 !-mt-10;
    background-image: url("/text-box-2.png");
  }
  .step-2 h3{
    background-image: url("/text-box2.png");
  }
  .step-2 p{
    background-image: url("/text-box-2.png");
  }
  .step-3 h3{
    background-image: url("/text-box.png");

  }
  .step-3 p{
    background-image: url("/text-box-2.png");

  }


  .step-2 .steps-content h3{
    @apply !pl-0 ;
  }

  .step{
    @apply flex flex-col items-center justify-start ;
  }

  .steps-content{
    @apply flex overflow-hidden;
  }

  .steps-img{
    @apply w-35 aspect-auto mt-20;
  }

  .steps-img-1{
    animation: hover 4.5s ease-in-out infinite;
  }
  .steps-img-2{
    animation: hover 5.5s ease-in-out infinite;
  }
  .steps-img-3{
    animation: hover 6s ease-in-out infinite;
  }
  
  .landing-buttons{
    @apply flex justify-center items-center
  }
  
}

.landing-couples-books{
  @apply flex flex-col w-full items-center gap-10 relative row-start-3 md:row-start-3 col-span-1 md:col-span-3;
}


.landing-couples-text{
  @apply z-1 pt-6 w-60 md:w-150 text-center;
}
  
.landing-couples-books-inner{
  @apply flex flex-row justify-around items-center w-full px-12 -mt-10 z-1 relative;
  }
  
  .landing-couple{
    transform: rotate(-8deg)
  }
  
  .landing-books{
    @apply flex flex-row;
      transform: rotate(8deg);
    }
    .landing-book{
      @apply w-40 md:w-85 absolute -left-12 top-1 md:-left-30 md:top-4 lg:w-100 2xl:w-120 xl:top-50 object-cover z-1 !max-w-none;
    }
    .landing-couple{
      @apply w-55 md:w-120 -left-15 top-8 md:-left-30 md:top-10 lg:top-15 xl:w-140 xl:top-65 2xl:w-180 absolute object-cover z-1;
    }
    
    .arrow-png{
      @apply hidden xl:flex absolute top-15 w-80 xl:top-60 xl:w-100 2xl:w-120 xl:top-50 object-contain;
    }
    
    
    .prices-article{
      @apply row-start-4 px-2 py-4 select-none md:col-span-3 xl:flex xl:flex-col xl:items-center xl:justify-center bg-[url(/prices-bg.jpeg)] bg-cover bg-no-repeat bg-center;
    }

    .price-card{
      @apply relative overflow-hidden bg-transparent border-2 border-r-0 p-6 shadow-sm z-5;
    }
    
    .prices-article .flex > div:last-child .price-card{
      @apply border-r-2;
    }
    
    .price-action-div {
      @apply flex items-center justify-center;
    }
    
    .price-action-button {
      @apply font-bold !text-base lg:!text-xl border-2 py-3 text-center lg:py-4 min-w-65 md:min-w-80 lg:px-12 rounded-4xl bg-[var(--color-secondary)] hover:bg-[var(--color-hover)] shadow-[0px_4px_0_0_#000] transition-all duration-200;
    }



    .design-element{
      @apply absolute w-22 z-10;
    }

    .e-1{
      @apply left-5 top-3 -rotate-15 w-30;
    }
    .e-2{
      @apply right-2 top-28 rotate-15;
    }
    .e-3{
      @apply top-65 left-30 -rotate-15 !w-25; 
    }
    .e-4{
      @apply top-65 right-5 -rotate-15;
    }

    .a-1{
      @apply right-5 top-4;
    }
    .a-2{
      @apply left-3 top-35 -rotate-75;
    }
    .a-3{
      @apply top-48 -rotate-15 !w-28; 
    }
    .a-4{
      @apply top-70 left-5 w-18;
    }
