@import "tailwindcss";

:root {
  --background: white;
  --foreground: #000000;
}

@theme {
  --font-main: 'MainFont';
  --color-primary-font: black;
  --color-secondary-font: #858585;
  --color-primary: #fbc564;
  --color-secondary: #F97316;
  --color-hover: #EA580C;
  --padding-x-medium: 8rem;
  --padding-x-large: 12rem;
  --shadow: 4px 4px 0 0 #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



@font-face {
  font-family: 'MainFont';
  src: url('../public/fonts/mainFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  @apply scroll-smooth;
}

.inline-font {
      font-feature-settings: "case";
  }

body {
  @apply bg-[var(--background)];
  font-family: 'MainFont', sans-serif;
  color: var(--color-primary-font);
}

.h1, h1 {
  @apply text-xl md:text-2xl xl:text-4xl leading-tight md:text-3xl;
}

.h2,h2 {
  @apply text-lg font-bold md:text-2xl;
}

.h3, h3 {
  @apply text-sm md:text-base;
}

.h4, h4 {
  @apply text-base;
}

.a, a {
  @apply !no-underline;
}

.p, p {
  @apply text-xs md:text-base m-0 p-0;
}

li, .li{
  @apply text-base md:text-lg;
}


@layer utilities {


  
  /* animations */

@keyframes pulse-scale {
    0% {
      transform: scale(1);
      /* Start at normal size */
    }

    50% {
      transform: scale(1.06);
      /* Scale up halfway through */
    }

    100% {
      transform: scale(1);
      /* Return to normal size */
    }
  }
@keyframes hover {
  0% {
    transform: translateY(0);
  }


  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0);
  }
}
}

@layer components {

  header{
    @apply flex flex-col justify-center min-h-20 bg-none !fixed z-99999999 w-full relative border-b-1 border-neutral-500;
    transition: all 0.4s cubic-bezier (0.175,0.885,0.32,2.2);
  }




  .effect{
    @apply absolute z-0 inset-0;
    backdrop-filter: blur(12px);
    filter: url(#glass-distortion);
    overflow: hidden;
  }

  .tint{
    @apply z-1 absolute inset-0 bg-[#ffffff80];
  }

  .shine{
    @apply absolute inset-0 z-2;
    overflow: hidden;
    box-shadow: 2px 2px 1px 0 #ffffff80, -1px -1px 1px 1px #ffffff80;
  }

  .header-content, .footer-content{
    @apply z-3;
  }

  .header-content{
    @apply px-4 lg:px-12;
  }

  .dock{
    @apply flex justify-between items-center;
  }
  .dock i{
    @apply z-3;
  }

  .header-logo{
    @apply z-3;
  }

  .header-action, .header-prices, .header-action-menu{
    @apply min-w-25 z-3;
  }

    .header-action,
    .header-prices{
      @apply hidden md:flex;
    }

    .header-action-menu{
      @apply flex items-center justify-center;
    }

    .header-action, .header-prices, .header-action-menu{
      @apply border-2 px-6 py-3 rounded-3xl font-bold shadow-[var(--shadow)] transition-all duration-200;
    }
    .header-action,.header-action-menu{
      @apply bg-[var(--color-secondary)] hover:bg-[var(--color-hover)];
    }
    
    .header-prices{
      @apply bg-white;
    }
    
    .header-action:hover, .header-prices:hover{
      @apply font-bold shadow-none;
    }
    

  .header-links{
    @apply flex gap-4;  
  }

  .header-content i{
    @apply text-black text-3xl flex md:hidden;
  }

  header img {
    @apply w-35 z-999999;
  }

  .header-nav{
    @apply bg-none px-1 pt-4 pb-8 flex items-center justify-center text-center;
  }

  .header-nav ul li{
    @apply font-bold pt-1 cursor-pointer;
  }

  
  .landing-banner-section{
    @apply grid grid-rows-[100vh] md:grid-rows-[100vh_150vh] lg:grid-rows-[75rem_180vh] xl:grid-rows-[120vh_230vh] grid-cols-1 md:grid-cols-3;
  }
  /* .landing-banner-section article{
    @apply border-b-4 border-black;
  } */
  
  .landing-row-1{
    @apply row-start-1 row-end-2 col-span-2 md:col-span-3 flex flex-col justify-start gap-4 items-center overflow-hidden bg-contain bg-no-repeat bg-center pt-65 md:pt-0 md:justify-center;
    background-image: url('/bg.png'), linear-gradient(to bottom, transparent, #FBC564);
    background-position: bottom center;
    background-size: cover, cover;
  }

  .cloud{
    @apply absolute w-40 md:w-65 lg:w-80 xl:w-110 opacity-80;
  }
  .cloud1{
    @apply top-20 lg:top-20 left-2 lg:left-10;
  }
  .cloud2{
    @apply top-20 lg:top-20 right-2 lg:right-10;
  }
  .cloud3{
    @apply top-45 lg:top-50;
  }
  
  .landing-text{
    @apply flex flex-col justify-center items-center gap-4 bg-[var(--color-primary)] border-3 rounded-4xl p-8 shadow-[var(--shadow)] w-95/100 md:w-2/3 xl:w-1/2 relative z-1;
  }
  .landing-row-1 h1{
    @apply flex justify-center items-center text-center overflow-hidden z-1 font-bold text-nowrap;
  }
  .landing-row-1 p{
    @apply flex justify-center items-center text-center;
  }

  .action-button {
    @apply text-black font-bold !text-base lg:!text-xl border-2 py-3 text-center lg:py-4 min-w-65 md:min-w-100 lg:px-12 rounded-4xl bg-[var(--color-secondary)] hover:bg-[var(--color-hover)] shadow-[var(--shadow)] transition-all duration-200;
    animation: pulse-scale 3s ease-in-out infinite;
  }
  
  .superman, .supergirl{
    @apply absolute w-45
    md:w-70 lg:w-100 xl:w-110 top-20 md:top-20 z-10;
  }

  .superman{
    @apply left-1 md:left-25;
    animation: hover 5.5s ease-in-out infinite;
  }
  .supergirl{
    @apply right-1 md:right-25;
    animation: hover 6.5s ease-in-out infinite;
  }
  
  .steps{
    @apply flex flex-col row-start-2 col-span-3 -mt-20;
  }

  .step{
    @apply border-b-2 border-neutral-300 py-8 
    flex flex-col items-center justify-start h-85 md:h-120 lg:h-150 xl:h-180;
     
  }

  .steps-text-div{
    @apply flex flex-col items-center xl:justify-center z-1;
  }

  .steps-text-div h3 {
  @apply text-center w-55 h-35 mt-8 md:mt-10 aspect-video md:w-90 md:h-40 lg:w-100 lg:h-50 lg:pt-18 xl:w-120 xl:h-60 xl:pt-22 xl:!text-4xl flex items-start pt-13 md:pt-14 pl-1 !ml-1 justify-center !text-xl md:!text-3xl;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .steps-text-div p {
  @apply flex items-center justify-center aspect-video z-1 !text-xs md:!text-sm lg:!text-base text-nowrap w-55 h-15 md:w-65 md:h-20 lg:w-85 lg:h-30 xl:w-95 xl:!text-lg !pt-2 md:!mt-2;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .step-number, .step-number-2{
    @apply items-start justify-center w-55 h-15 pt-3 aspect-video bg-contain bg-no-repeat -mb-8 md:w-60 md:h-20 md:pt-4 lg:w-80 lg:h-30 lg:pt-6 xl:w-90 xl:pt-7 ;
    background-image: url("/step.png");
  }
  .step-number{
    @apply flex xl:hidden;
  }
  .step-number-2{
    @apply hidden xl:flex;
  }

  .step-1 h3{
    background-image: url("/text-box.png");
  }
  .step-1 p{
    background-image: url("/text-box-2.png");
  }
  .step-2 h3{
    background-image: url("/text-box.png");
  }
  .step-2 p{
    background-image: url("/text-box-2.png");
  }
  .step-3 h3{
    background-image: url("/text-box.png");

  }
  .step-3 p{
    background-image: url("/text-box-2.png");

  }
  .step-3{
    @apply border-b-0;

  }


  .step-2 .steps-content h3{
    @apply !pl-0 ;
  }



  .steps-content{
    @apply flex overflow-hidden h-full xl:justify-center xl:gap-50 xl:w-full;
  }

  .steps-img{
    @apply w-30 h-full md:w-50 lg:w-65 xl:w-90 xl:mt-0 object-contain mt-8 xl:mt-20;
  }

  .steps-img-1{
    animation: hover 5s ease-in-out infinite;
  }
  .steps-img-2{
    animation: hover 5.5s ease-in-out infinite;
  }
  .steps-img-3{
    animation: hover 6s ease-in-out infinite;
  }
  
  .landing-buttons{
    @apply flex justify-center items-center
  }
  
}

.landing-couples-books{
  @apply flex flex-col w-full items-center gap-10 relative row-start-3 md:row-start-3 col-span-1 md:col-span-3;
}


.landing-couples-text{
  @apply z-1 pt-6 w-60 md:w-150 text-center;
}
  
.landing-couples-books-inner{
  @apply flex flex-row justify-around items-center w-full px-12 -mt-10 z-1 relative;
  }
  
  .landing-couple{
    transform: rotate(-8deg)
  }
  
  .landing-books{
    @apply flex flex-row;
      transform: rotate(8deg);
    }
    .landing-book{
      @apply w-40 md:w-85 absolute -left-12 top-1 md:-left-30 md:top-4 lg:w-100 2xl:w-120 xl:top-50 object-cover z-1 !max-w-none;
    }
    .landing-couple{
      @apply w-55 md:w-120 -left-15 top-8 md:-left-30 md:top-10 lg:top-15 xl:w-140 xl:top-65 2xl:w-180 absolute object-cover z-1;
    }
    
    .arrow-png{
      @apply hidden xl:flex absolute top-15 w-80 xl:top-60 xl:w-100 2xl:w-120 xl:top-50 object-contain;
    }
    
    
    .prices-article{
      @apply row-start-4 py-4 select-none md:col-span-3 xl:flex xl:flex-col xl:items-center xl:justify-center bg-[url(/prices-bg.png)] bg-cover bg-no-repeat bg-center pt-30;
    }

    .prices-article h2 {
      @apply flex flex-col justify-center items-center bg-[var(--color-primary)] rounded-3xl px-8 shadow-[var(--shadow)] w-55 h-18 lg:w-100 mx-auto border-2 font-semibold mb-4;
    }

    #prices-article,
    #steps-article {
      scroll-margin-top: 8rem;
    }

    .price-card{
      @apply relative overflow-hidden bg-transparent border-2 border-r-0 p-6 shadow-sm z-5;
    }
    
    .prices-article .flex > div:last-child .price-card{
      @apply border-r-2;
    }
    
    .price-action-div {
      @apply flex items-center justify-center;
    }
    
    .price-action-button {
      @apply font-bold !text-base lg:!text-xl border-2 py-3 text-center lg:py-4 min-w-65 md:min-w-80 lg:px-12 rounded-4xl bg-[var(--color-secondary)] hover:bg-[var(--color-hover)] shadow-[var(--shadow)] transition-all duration-200;
    }



    .design-element{
      @apply absolute w-16 z-1 opacity-70;
    }

    .e-1{
      @apply left-55 top-6 -scale-x-100 !w-17 md:!w-25 md:top-1 md:left-85 lg:top-12 lg:left-110 lg:!w-30 xl:left-0;
    }

    .a-1{
      @apply -left-20 top-7 md:!w-25 -scale-y-100 md:top-3 md:-left-50 lg:-left-55 lg:top-15 lg:!w-25 xl:-left-120 xl:top-18;
    }
    .b-1{
      @apply left-55 top-8 md:top-3 md:left-85 md:!w-25 -scale-x-100 lg:left-110 lg:top-16 xl:left-0 xl:top-17;
    }


    /* character creator */

    .footer {
      @apply !fixed md:hidden relative z-99999999 w-full bottom-0 h-16 bg-none flex items-center justify-center border-t-1 border-neutral-500;

    }

    .footer-content {
      @apply relative bg-none w-full h-full;
    }

    .footer-content nav{
      @apply flex items-center justify-around h-full;
    }

    .footer-content nav button, .edit-nav button {
      @apply flex flex-col text-sm min-w-30 cursor-pointer w-full h-full transition-all duration-100 border-x-1 border-neutral-300;
    }
    .edit-nav button {
      @apply items-center justify-center;
    }

    .footer-content nav button:first-child, .edit-nav button:first-child {
      @apply border-l-0 ;
    }
    .footer-content nav button:last-child, .edit-nav button:last-child {
      @apply border-r-0;
    }

    .footer-content nav button i,.edit-nav button i {
      @apply text-lg;
    }

    .footer-content nav button.active,.edit-nav button.active {
      @apply bg-[var(--color-primary)];
    }

    .edit-nav{
      @apply hidden md:flex border-y-1 border-neutral-300 items-center justify-between h-16 relative z-99999999 cursor-pointer;
    }

    .edit-page {
      @apply py-25 md:pt-42 md:pb-0;
    }

    .cover-templates{
      @apply grid grid-cols-2 gap-8 py-4;
    }

    
    .img-container{
      @apply relative border-2 rounded-lg h-35 w-25 flex items-end md:w-40 md:h-40 lg:w-28 lg:h-28;
    }
    .img-container.pages{
      @apply h-25 w-20 md:w-40 md:h-40 lg:w-30 lg:h-30;
    }
    .img-container.cover{
      @applys h-35 w-35 md:w-40 md:h-40 lg:w-30 lg:h-30 !rounded-none;
    }
    
    .cover-container{
      @apply w-70 m-2 rounded-none border-2;
    }
    
    .img-container img, .cover-container img {
      @apply object-cover w-full h-full;
    }
    .img-container i {
      @apply absolute -top-1 right-1 text-lg;
    }
    .img-container p {
      @apply absolute font-bold -bottom-5 left-1 md:-bottom-7 lg:bottom-0 lg:-top-7;
    }
    
    .hint-div {
      @apply flex items-center justify-center w-70 text-neutral-900 mt-4 w-80;
    }
    
    .character-upload-content, .cover-create-content,.cover-div, .characters-content{
      @apply lg:h-170 w-full flex flex-col items-center;
    }

    .character-article, .character-preview, .cover-article , .cover-preview, .pages-preview{
      @apply w-9/10 md:w-8/10 xl:w-4/10 flex flex-col items-center justify-center border-2 rounded-3xl shadow-[var(--shadow)];
    }
    
    .character-article h2, .character-preview h2, .cover-article h2,
    .cover-preview h2, .pages-preview h2{
      @apply border-b-2 w-full text-center py-2;
    }
    
    .edit-section{
      @apply flex flex-col items-center justify-center gap-10 md:gap-20 lg:flex-row-reverse lg:mx-12;
    }
    
    .characters-div{
      @apply flex flex-row items-center justify-center py-12 gap-2 lg:gap-6 xl:gap-12 ;
    }

   

    .characters-screen{
      @apply hidden lg:flex h-2/3 w-full border-b-2;
    }
    


    /* image uploader */

        .dropzone {
          @apply flex flex-col items-center justify-center gap-4 border-2 border-dashed border-neutral-400 rounded-3xl p-12 m-8 text-center cursor-pointer min-h-55 transition-all duration-200;
        }
        .dropzone svg{
          @apply w-10 h-10 transition-colors text-gray-400 dark:text-neutral-500;
        }
        .dropzone.dragged, .dropzone:hover {
          @apply border-neutral-400 bg-[var(--color-primary)];
        }
        .dropzone p{
          @apply text-sm w-40 min-h-15;
        }